$red: red;
$orange: orange;
$blue: blue;
$light-green: #62aab7;
$bg-dark-blue:#5896e7;
$white:white;
$bg-blue:#e7f6ff;
$grey:grey;
$black:black;
$btn-grey:rgb(236 236 236 / 79%);
$active-bg:rgba(255, 255, 255, 0.2);
$footer-black:#2c2c2c;
$active-tab:#0470af;
$green:rgb(0, 124, 0);
$dark-blue:#183392;
$light-black:rgba(0, 0, 0, 0.7);
$btn-blue:#66a2f2;
$a-tag-blue:#4184eb;
$login-btn:#051572;